---
import Section from "./Section.astro";
---

<Section

title="Cybertruck"
>
<div slot="footer" class="gap-x-4 flex mx-auto">
  <div class="botones">
    <a
    class="relative text-bold px-12 py-2 inline-flex justify-center items-center text-[#949598] font-medium
     backdrop-filter bg-[#0f1010]/70"
    href="#"
  >
    ORDER NOW
  </a>
  </div>


  <a
    class="border-[1px] border-[#808081] backdrop-filter bg-[#0f1010]/70 text-bold font-medium text-[#949598] px-12 py-2 inline-flex justify-center items-center transition-colors hover:bg-[#393c41]"
    href="#"
  >
    LEARN MORE
  </a>
</div>

  <img
    slot="background"
    src="Cybertruck.avif"
    alt="Cybertruck"
    class="h-full w-full object-cover object-center"
  />
</Section>

<style>
  .botones a::before {
    border-top: 3px solid #808081;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: -4px;
    width: 100%;
  }
</style>
